* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    overflow-x: hidden;
}

nav {
    text-align: center;
    background: linear-gradient(90deg, #C04848, #480048);
}

nav h3 {
    padding: 1em;
    color: white;
}

ul {
    list-style-type: none;
}

.corona {
    text-align: center;
}

.corona-date {
    padding: 1em;
    min-height: 25vh;
    color: white;
    background: linear-gradient(90deg, #C04848, #480048);
}

.corona-date h3{
    margin-top: 1em;
}

.corona-numbers {
    margin-top: 2em;
}

.corona-numbers li {
    margin-bottom: 2em;
}

.latest {

}

.death {
    color: darkred;
}

.recovered {
    color: green;
}

.loading {
    margin-top: 2em;
    padding: 1em;
    transform: scale(1.5);
    text-align: center;
}

.covid {
    margin-top: 2em;
    text-align: center;
}

.covid h5 {
    padding: 2em;
}

.covid p {
    font-size: 0.8em;
}

.stats {
    text-align: center;
}

.stats-control {
    text-align: center;
}

.stats-control input {
    margin-bottom: 2em;
}

.country-info p {
    padding: 0.5em;
    font-size: 1.3em;
    cursor: pointer;
    border-radius: 0.5em;
    transition: 0.3s all ease-in-out;
}

.country-info p:hover {
    color: white;
    background-color: black;
}

.less-info h4{
    padding: 0.5em;
    margin-top: 1em;
    cursor: pointer;
    border-radius: 0.5em;
    transition: 0.3s all ease-in-out;
}

.less-info h4:hover {
    color: white;
    background-color: black;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}

footer p{
    margin-top: 0.5em;
}

.card {
    padding: 1em;
}
